In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date, time

In [2]:
df = pd.read_csv('/Users/galvanize/Documents/capstone2/DATA/listings.csv.gz')

In [5]:
listings_df = df[['id','host_id','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','price','weekly_price','monthly_price','minimum_nights','maximum_nights','guests_included','availability_30','availability_60','availability_90','availability_365','requires_license','jurisdiction_names']]

In [6]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2387 entries, 0 to 2386
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2387 non-null   int64
 1   host_id             2387 non-null   int64
 2   is_location_exact   2387 non-null   object
 3   property_type       2387 non-null   object
 4   room_type           2387 non-null   object
 5   accommodates        2387 non-null   int64
 6   bathrooms           2387 non-null   float64
 7   bedrooms            2387 non-null   int64
 8   price               2387 non-null   object
 9   weekly_price        207 non-null    object
 10  monthly_price       178 non-null    object
 11  minimum_nights      2387 non-null   int64
 12  maximum_nights      2387 non-null   int64
 13  guests_included     2387 non-null   int64
 14  availability_30     2387 non-null   int64
 15  availability_60     2387 non-null   int64
 16  availability_90     2387 non-null   int64
 17  availability_365    2387 non-null   int64
 18  requires_license    2387 non-null   object
 19  jurisdiction_names  2387 non-null   object
dtypes: float64(1), int64(11), object(8)
memory usage: 373.1+ KB

In [7]:
listings_df['host_id'] =  listings_df['host_id'].astype('str')
listings_df['id'] =  listings_df['id'].astype('str')

/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/galvanize/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2387 entries, 0 to 2386
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2387 non-null   object
 1   host_id             2387 non-null   object
 2   is_location_exact   2387 non-null   object
 3   property_type       2387 non-null   object
 4   room_type           2387 non-null   object
 5   accommodates        2387 non-null   int64
 6   bathrooms           2387 non-null   float64
 7   bedrooms            2387 non-null   int64
 8   price               2387 non-null   object
 9   weekly_price        207 non-null    object
 10  monthly_price       178 non-null    object
 11  minimum_nights      2387 non-null   int64
 12  maximum_nights      2387 non-null   int64
 13  guests_included     2387 non-null   int64
 14  availability_30     2387 non-null   int64
 15  availability_60     2387 non-null   int64
 16  availability_90     2387 non-null   int64
 17  availability_365    2387 non-null   int64
 18  requires_license    2387 non-null   object
 19  jurisdiction_names  2387 non-null   object
dtypes: float64(1), int64(9), object(10)
memory usage: 373.1+ KB

In [9]:
listings_df['price']

0        $50.00
1       $765.00
2        $75.00
3       $107.00
4        $71.00
         ...
2382     $65.00
2383    $305.00
2384    $155.00
2385    $225.00
2386     $19.00
Name: price, Length: 2387, dtype: object

In [10]:
# listings_df.to_csv(r'listings_edited.csv')

In [11]:
listings_df

,id,host_id,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,price,weekly_price,monthly_price,minimum_nights,maximum_nights,guests_included,availability_30,availability_60,availability_90,availability_365,requires_license,jurisdiction_names
0,38585,165529,t,House,Private room,2,1.0,1,$50.00,NaN,NaN,1,3,1,0,0,2,2,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
1,80905,427027,t,Loft,Entire home/apt,12,2.0,3,$765.00,"$2,100.00","$5,000.00",1,100,6,26,49,75,341,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
2,108061,320564,t,Apartment,Entire home/apt,2,1.0,1,$75.00,$800.00,"$1,350.00",30,365,2,0,0,1,276,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
3,155305,746673,t,Guesthouse,Entire home/apt,2,1.0,1,$107.00,NaN,NaN,1,365,2,23,52,82,207,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
4,156805,746673,t,House,Private room,2,2.5,1,$71.00,NaN,NaN,1,365,2,0,0,0,0,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,43473737,43901986,t,Apartment,Entire home/apt,2,1.0,1,$65.00,NaN,NaN,1,7,1,14,29,52,52,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
2383,43495845,343440528,t,Apartment,Entire home/apt,2,1.0,1,$305.00,NaN,NaN,1,1125,2,27,37,41,162,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
2384,43509635,347052146,t,House,Entire home/apt,6,2.0,3,$155.00,NaN,NaN,30,31,1,0,7,27,302,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
2385,43525648,1767483,t,Cabin,Entire home/apt,5,2.0,2,$225.00,NaN,NaN,4,1125,1,12,34,64,328,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"
2386,43525848,3665372,t,Campsite,Entire home/apt,4,1.0,1,$19.00,NaN,NaN,1,7,1,25,55,85,360,f,"{""NORTH CAROLINA"","" BUNCOMBE""}"